body
{
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid grey;
    margin: 0 auto;
}

#container h1
{
    font-size: 25px;

}

#cabecera
{
    background-color: rgba(89, 173, 100, 0.808);
    box-shadow: 0px 5px  15px rgba(52, 189, 18, 0.808);
    padding: 0 0 0 0 1em;
    font-weight: lighter;
    font-size: 2.5em;
    text-align: right;
    font-family: Courier;
    font-size: 12px;
    color: rgba(7, 48, 59, 0.774);
}

#cabecera #logo
{
    width: 20px;
    vertical-align: left;
}

#pie_rosa
{
    width: 80px;
    vertical-align: right;
}

#footer_rosa
{
    width: 30px;
    vertical-align: left;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#pie
{  
    font-size: 12px;
    font-weight:bold;
    font-family:Arial;
    color:yellowgreen;
    text-align: left;
}

#pie_Def
{
    font-family:Arial;
    font-size: 20px;
    font-weight:lighter;
    padding: 0 0 0 0 1em;
    font-weight: normal;
    color: black;
    background-color:rgba(221, 137, 207, 0.589);
    text-align: center;
    box-shadow: 0px 5px  15px rgb(143, 13, 93) ;
}

#post
{
    text-align: left;
    font-size: 28px;
    font-family:monospace;
    color:blue;
    font-weight:lighter;
}

#pie_rosa
{
    font-family:Arial;
    font-size: 20px;
    font-weight:bolder;
    padding: 0 0 0 0 1em;
    color: rgb(78, 8, 47);
    background-color:rgb(245, 12, 175);
    text-align: right;
    box-shadow: 0px 5px  25px pink ;
}

#footer
{
    text-align: right;
    font-size: 12px;
    font-family:Arial;
    color:rgb(11, 77, 5);
    font-weight:bolder;
    padding: 2em;
}