body
{
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid grey;
    margin: 0 auto;
}

#container h1
{
    font-size: 25px;

}

#cabecera
{
    background-color: rgba(202, 83, 28, 0.808);
    box-shadow: 0px 5px  15px rgba(52, 189, 18, 0.808);
    padding: 0 0 0 0 1em;
    font-weight: lighter;
    font-size: 1.5em;
    text-align: right;
    font-family: Courier;
    font-size: 12px;
    color: rgba(43, 7, 7, 0.774);
}

#tagline
{
    font-weight: 16 px;
    text-align: center;
    font-family: Cambria;
    font-size: 20px;
    font-weight:lighter;
    color: whitesmoke;
}

#pie
{  
    font-size: 16px;
    font-weight:lighter;
    font-family:Arial;
    color:yellowgreen;
    text-align: center;
}

#pie_Def
{
    font-family:Helvetica;
    font-size: 10px;
    font-weight:bold;
    padding: 0 0 0 0 1em;
    font-weight: normal;
    color: black;
    background-color:rgba(19, 81, 214, 0.589);
    text-align: center;
    box-shadow: 0px 5px  15px rgb(143, 13, 93) ;
}

#post
{
    text-align: left;
    font-size: 28px;
    font-family:monospace;
    color:blue;
    font-weight:lighter;
}

#pie_rosa
{
    font-family:Arial;
    font-size: 20px;
    font-weight:bolder;
    padding: 0 0 0 0 1em;
    color: rgb(78, 8, 47);
    background-color:rgb(245, 12, 175);
    text-align: right;
    box-shadow: 0px 5px  25px pink ;
}

#footer
{
    text-align: right;
    font-size: 18px;
    font-family:Tahoma;
    color:rgb(19, 124, 27);
    font-weight:bold;
}