body
{
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid grey;
    margin: 0 auto;
}

#container h1
{
    font-size: 25px;

}

#cabecera
{
    background-color: rgb(0, 38, 255);
    box-shadow: 0px 5px  15px rgb(56, 79, 209);
    padding: 0 0 0 0 1em;
    font-weight: normal;
    font-size: 1.5em;
    text-align: left;
    font-family: Tahoma;
    font-size: 14px;
    font-weight:lighter;
    color: whitesmoke;
}

#tagline
{
    font-weight: 16 px;
    text-align: center;
    font-family: Cambria;
    font-size: 20px;
    font-weight:lighter;
    color: whitesmoke;
}

#pie
{
    text-align: right;
    font-family:'Times New Roman';
    font-size: 10px;
    font-weight:bolder;
    color:black;
}

#pie_Def
{
    background-color: rgba(9, 255, 0, 0.247);
    box-shadow: 0px 5px  15px rgb(102, 207, 98);
    padding: 0 0 0 0 1em;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    font-family: Tahoma;
    font-size: 14px;
    font-weight:lighter;
    color: whitesmoke;
}

#post
{
    text-align: left;
    font-family:'Arial';
    font-size: 10px;
    font-weight:bolder;
    color:black
}