body
{
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid grey;
    margin: 0 auto;
}

#container h1
{
    font-size: 25px;

}

#cabecera
{
    text-align: right;
    font-family:Verdana;
    font-size: 14px;
    font-weight:lighter;
    color:coral;
}

#pie
{
    text-align: center;
    font-family:'Times New Roman';
    font-size: 10px;
    font-weight:bolder;
    color:black;
}
#post
{

}