body
{
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid grey;
    margin: 0 auto;
}

#container h1
{
    font-size: 25px;

}

#cabecera
{
    background-color: rgb(0, 38, 255);
    box-shadow: 0px 5px  15px rgb(56, 79, 209);
    padding: 0 0 0 0 1em;
    font-weight: normal;
    font-size: 1.5em;
    text-align: left;
    font-family: Tahoma;
    font-size: 14px;
    font-weight:lighter;
    color: whitesmoke;
}

#tagline
{
    font-weight: 16 px;
    text-align: center;
    font-family: Cambria;
    font-size: 20px;
    font-weight:lighter;
    color: whitesmoke;
}

#pie
<<<<<<< HEAD
{
    font-weight:lighter;
    text-align: center;
    font-size: 9px;
    color:brown;
    font-family:Verdana;
=======
{  
    font-size: 26px;
    font-weight:bold;
    font-family:fantasy;
    color:greenyellow;
    text-align: left;
>>>>>>> pie
}

#pie_Def
{
    font-family:Helvetica;
    font-size: 10px;
    font-weight:bold;
    padding: 0 0 0 0 1em;
    font-weight: normal;
    color: rgba(116, 207, 12, 0.856);
    background-color:rgba(19, 81, 214, 0.589);
    text-align: center;
    box-shadow: 0px 5px  15px rgb(143, 13, 93) ;
}

#post
{
    color:blueviolet;
    font-weight:bolder;
    text-align: center;
    font-size: 11px;
    font-family:Arial;
}